APP_NAME=NezhaCyberMCP

# Database Configuration 
DB_HOST=xxxxxxxxxx
# You can change this to 3306 if you are using MySQL, 
# 5432 if you are using PostgreSQL, 
# 1433 if you are using SQL Server, 
# 1521 if you are using Oracle Database , 
# 8812 if you are using QuestDB
DB_PORT=xxxxxxxxxx
DB_USER=xxxxxxxxxx
DB_PASSWORD=xxxxxxxxxx
DB_NAME=xxxxxxxxxx
DB_SSL=xxxxxxxxxx
DB_TIMEZONE=xxxxxxxxxx

DB_SQLITE=xxxxxxxxxx

# Github Token
GITHUB_TOKEN=xxxxxxxxxx

# If using AWS
AWS_ACCESS_KEY_ID=xxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxxxxx
AWS_REGION=xxxxxxxxxx
